loading_data.py
irisdata.txt
regression_AEcheck_MLP.py
regression_iner_LSTM.py
regression_iner_MLP_single.py
/slprj/
/__pycache__/
/output/
/with damping test/

!/data files/
/data_files/*
!/data files/excitation_pulse/

!/main code files/
/main code files/**
!/main code files/data_loading_D_test.py
!/main code files/regression_iner_MLP _D_test.py
